.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); 
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px; 
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #282c34;
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; 
  color: rgb(253, 216, 3);
  padding: 0 200px; 
}

.tema1, .tema2, .tema3, .tema4 {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(25% - 20px);
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.tema1 h3, .tema2 h3, .tema3 h3, .tema4 h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.tema1 p, .tema2 p, .tema3 p, .tema4 p {
  line-height: 1.5;
  color: #666;
}

footer {
  background-color: #282c34;
  padding: 0 200px;
  display: flex;
  color: rgb(253, 216, 3);
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 10px;
}

footer a {
  color: #333;
  text-decoration: none;
}